{#if field != null}
	{#if item.children.length === 0}
		{#if item.form != null}
		<MyFormLink field="{field}" app="{app}"/>
		{:else}
		<span>{item.label}</span>
		{/if}
	{:else}
		<div class="menu top-menu-div">
			{#if item.children.length > 1}
			<label for="menu{id}" class="toggle-sub" onclick="">{item.label}</label>
			{:else}
			<!-- .<MyFormLink field="{{ { data: item.children[0] } }}" app="{{app}}" />. -->
			{/if}
		</div>

		<input type="checkbox" id="menu{id}" class="sub-nav-check" />
		{#if item.children.length > 1}
		<ul class="sub-nav">
			{#each item.children as child}
			<li>
				<svelte:self item="{child}" menu="{menu}" />
			</li>
			{/each}
		</ul>
		{/if}
	{/if}
{/if}

<script>
	import MyFormLink from "../core/ui/outputs/MyFormLink";

	let id = 0;
	export default {
		oncreate() {
			const { item } = this.get();

			this.set({
				field: { data: item },
				app: window.app
			});

			console.log(this.get().field);
		},
		data() {
			id += 1;
			return {
				id,
				field: null,
				app: null
			};
		},
		components: {
			MyFormLink
		}
	};
</script>
