{#if item.children.length === 0}
	{#if item.form != null}
	<MyFormLink field={field} app={app}/>
	{:else}
	<span>{item.label}</span>
	{/if}
{:else}
	<div class="menu top-menu-div">
		{#if item.children.length > 1}
		<label for="menu{id}" class="toggle-sub" onclick="">{item.label}</label>
		{:else}
		<MyFormLink field={nested} app={app}/>
		{/if}
	</div>

	<input type="checkbox" id="menu{id}" class="sub-nav-check" />
	{#if item.children.length > 1}
	<ul class="sub-nav">
		{#each item.children as child}
		<li>
			<svelte:self item={child} menu={menu} app={app} />
		</li>
		{/each}
	</ul>
	{/if}
{/if}

<script>
	let currentInstanceId = 0;
	export default {
		computed: {
			nested: ({ item }) => {
				if (item != null && item.children.length > 0) {
					return {
						data: item.children[0]
					};
				}

				return { data: null };
			},
			field: ({ item }) => ({ data: item })
		},
		data() {
			currentInstanceId += 1;
			return {
				item: null,
				id: currentInstanceId,
				app: null,
				field: null
			};
		},
		components: {
			MyFormLink: "../core/ui/outputs/MyFormLink"
		}
	};
</script>